.splashCont{
  min-height: 100vh;
  background-size: 100%;
  background-position: bottom left;
  position:relative;

  .splashFooterText{
    width:100%;
    position:absolute;
    bottom:60px;
    h2{color:#FFFFFF; text-align:center; font-size: 36px; margin-bottom:16px; font-weight: 200; text-align: center;}
    p{color:#FFFFFF; text-align:center; font-size: 16px; text-align: center; font-weight: 200; letter-spacing:1px;}
  }
}
