<div class="authCont" >
  <div  class="authBgImg"><img src="./assets/images/bg1.png" alt="Background"/></div>
  <div class="wrapper">
    <div class="authFormCont">
      <div class="authHead">
        <h3>Forgot password</h3>
        <p>Enter your email address and we'll send you a link to reset your password</p>
      </div>

      <div class="formFields">
        <input type="text" placeholder="Email" [(ngModel)]="email" />
      </div>
      <p style="color: red;" *ngIf="errorMsg">No active email Id</p>
      <button class="btnWhite" [disabled]="!email" (click)=sendMail(email)>Submit</button>
      <div class="formFields">
        <span class="rTxt"><a routerLink="/auth/login">Back to Login</a></span>
      </div>
    </div>
    <div class="authFooterText">
      <h2>unify</h2>
      <p>Connect in the quantum</p>
    </div>
  </div>
</div>
