.signupBtn{
  margin-top:40px;
  p{
    text-align: center;
    color:rgba(255,255,255,0.7);
    margin-bottom:6px;
    font-size: 14px;
  }
}

.authBgImg{
  position:fixed;
  width:100%;
  height:100%;
  left:0px;
  top:0px;
  img{
    width:100%;
    height:100%;
    object-fit: cover;
  }
}

.authCont{
  position:relative;
}
