<div class="authCont" style="background-image: url('./assets/images/bg1.png');">
  <div class="wrapper">
    <div class="authFormCont">
      <div class="authHead">
        <h3>The quantum awaits!</h3>
      </div>

      <div class="formFields">
        <input type="text" placeholder="Username" [(ngModel)]="loginModel.username" required />
      </div>
      <div class="formFields">
        <input type="password" placeholder="Password" [(ngModel)]="loginModel.password" required />
      </div>
      <div class="formFields">
        <span class="rTxt"><a routerLink="/auth/forgotpassword">Forgot password?</a></span>
      </div>
      <p style="color: red;" *ngIf="errorMsg"> Invalid User</p>
      <button class="btnWhite" [disabled]="!loginModel.username&&!loginModel.password"
        (click)="login(loginModel)">Login</button>

      <div class="signupBtn">
        <p>New User?</p>
        <button class="btnWhite" routerLink="/auth/signup">Sign up!</button>
      </div>
    </div>
    <div class="authFooterText">
      <h2>unify</h2>
      <p>Connect in the quantum</p>
    </div>
  </div>
</div>
