 <!-- Med Track -->
 <div class="editProfile">
  <div class="partText">
    <div class="trackName">
     <h6>Edit details</h6>
    </div>
    
    <div class="inputField">
      <input type="text" placeholder="First name"/>
    </div>
    <div class="inputField">
      <input type="text" placeholder="Last name"/>
    </div>
    <div class="inputField">
      <input type="text" placeholder="Email"/>
    </div>
    <div class="inputField">
      <input type="text" placeholder="Mobile"/>
    </div>
    <div class="radioBox d-flex">
      <div class="radioCont">
        <label class="radio">Male
          <input type="radio" name="radio">
          <span class="checkmark"></span>
        </label>
      </div>
      <div class="radioCont">
        <label class="radio">Female
          <input type="radio" name="radio">
          <span class="checkmark"></span>
        </label>
      </div>
      <div class="radioCont">
        <label class="radio">Other
          <input type="radio" name="radio">
          <span class="checkmark"></span>
        </label>
      </div>
    </div>
    <div class="inputField">
      <input type="text" placeholder="Date of Birth"/>
    </div>
  
  </div>
  <div class="grayBtn">
    <button type="button" >Done</button>
  </div>
  </div>
