<!-- Med Track -->
<div class="editProfile">
  <div class="partText">
    <div class="trackName">
      <h6>Edit details</h6>
    </div>

    <div class="inputField">
      <input type="text" placeholder="First name" [(ngModel)]="profileModel.first_name" />
    </div>
    <div class="inputField">
      <input type="text" placeholder="Last name" [(ngModel)]="profileModel.last_name" />
    </div>
    <div class="inputField">
      <input type="text" placeholder="Email" [(ngModel)]="profileModel.email" />
    </div>
    <div class="inputField">
      <input type="text" placeholder="Mobile" [(ngModel)]="profileModel.phone_number" />
    </div>
    <div class="radioBox d-flex">
      <div class="radioCont">
        <label class="radio">Male
          <input type="radio" name="radio" value="Male" [(ngModel)]="profileModel.gender">
          <span class="checkmark"></span>
        </label>
      </div>
      <div class="radioCont">
        <label class="radio">Female
          <input type="radio" name="radio" value="fmale" [(ngModel)]="profileModel.gender">
          <span class="checkmark"></span>
        </label>
      </div>
      <div class="radioCont">
        <label class="radio">Other
          <input type="radio" name="radio" value="Other" [(ngModel)]="profileModel.gender">
          <span class="checkmark"></span>
        </label>
      </div>
    </div>
    <div class="inputField">
      <!-- <input type="text" placeholder="Date of Birth" [(ngModel)]="profileModel.dob" /> -->
      <!-- <mat-form-field> -->
      <input matInput type="date" placeholder="Date of Birth" [(ngModel)]="profileModel.dob">
      <!-- </mat-form-field> -->
    </div>

  </div>
  <div class="grayBtn">
    <button type="button"
      [disabled]="!profileModel.first_name||!profileModel.last_name||!profileModel.dob||!profileModel.gender||!profileModel.phone_number||!profileModel.email"
      (click)="saveProfile()">Done</button>
  </div>
</div>