

  <div class="pageHeader">
    <h2 class="title">unify</h2>
    <a class="btn btn-secondary proImg" routerLink="/main/profile">
      <img src="./assets/images/profile.png" alt="profile" />
    </a>
  </div>

  <div class="mediCont">
    <div class="paddLF15">
      <div class="head">
        <div class="hBox">
          <h3>20.5</h3>
          <p>Total hours<br/>meditated</p>
        </div>
        <div class="hBox">
          <h3>30</h3>
          <p>Total<br/>sessions</p>
        </div>
        <div class="hBox">
          <h3 class="noBorder">2.5</h3>
          <p>Longest <br/>session (hrs)</p>
        </div>
      </div>
    </div>


    <div class="sessTitle">
      <h2>Previous meditations</h2>
      <div class="sessFilters">
        <a> Filter <img width="20" src="./assets/images/icons/filter.png" alt="filters" /></a>
      </div>
    </div>

    <div>
      <div class="sesBox">
        <div class="imgCont">
          <img src="./assets/images/session.png" alt="img" />
        </div>
        <div class="sesInfo">
          <p>Space time meditation, one of the best out there!</p>
          
          <div class="date">
            <p class="noMargin">3 Feb 2020, 20:00 hrs</p>
          </div>
          <div class="ratingCont">
            <ul>
              <li><a><img src="./assets/images/icons/star.svg" width="17" alt="Star"/></a></li>
              <li><a><img src="./assets/images/icons/star.svg" width="17" alt="Star"/></a></li>
              <li><a><img src="./assets/images/icons/star.svg" width="17" alt="Star"/></a></li>
              <li><a><img src="./assets/images/icons/staroutline.svg" width="17" alt="Star"/></a></li>
              <li><a><img src="./assets/images/icons/staroutline.svg" width="16" alt="Star"/></a></li>
            </ul>
            <a class="notes"><img src="./assets/images/icons/contract.svg" width="20" alt="Notes"/></a>
          </div>
          <button class="whiteBtn">View / Re-schedule</button>
        </div>
      </div>

      <div class="sesBox">
        <div class="imgCont">
          <img src="./assets/images/session3.png" alt="img" />
        </div>
        <div class="sesInfo">
          <p>Space time meditation, one of the best out there!</p>
          
          <div class="date">
            <p class="noMargin">3 Feb 2020, 20:00 hrs</p>
          </div>
          <div class="ratingCont">
            <ul>
              <li><a><img src="./assets/images/icons/star.svg" width="17" alt="Star"/></a></li>
              <li><a><img src="./assets/images/icons/star.svg" width="17" alt="Star"/></a></li>
              <li><a><img src="./assets/images/icons/star.svg" width="17" alt="Star"/></a></li>
              <li><a><img src="./assets/images/icons/staroutline.svg" width="17" alt="Star"/></a></li>
              <li><a><img src="./assets/images/icons/staroutline.svg" width="16" alt="Star"/></a></li>
            </ul>
            <a class="notes"><img src="./assets/images/icons/contract.svg" width="20" alt="Notes"/></a>
          </div>
          <button class="whiteBtn">View / Re-schedule</button>
        </div>
      </div>
    </div>

    
  </div>


  <app-footer></app-footer>

