.mainComponents{
  width:100%;
  max-width:100%;
  margin: 0px auto;
  min-height:100vh;
  height:auto;
  position:relative;
  .mainWrapper{
    padding:80px 0px 60px;
    position: relative;
    z-index: 5;
    color:#FFFFFF;
    min-height:100vh;
  }
  .pageHeader{
    width:100%;
    height:80px;
    padding:25px 15px 10px 20px;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    z-index:6;
    display: flex;
    .title{
      color:#FFFFFF;
      flex:1 1;
      font-weight: 300;
      font-size:28px;
      margin-top:4px;
    }
    .proImg{
      width:46px;
      height:46px;
      border-radius:50%;
      overflow: hidden;
      padding:0px;
      img{
        object-fit: cover;
        width:46px;
        height:46px;
      }
    }
  }

  .pageFooter{
    position: fixed;
    background-color: rgba(0,0,0,0.75);
    width:100%;
    height:60px;
    bottom:0px;
    left:0px;
    display: flex;
 
    .tabBox{
      flex:1 1;
      display: flex;
      align-items: center;
      justify-content: center;
      .iconBox{
        width:40px;
        height:40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(255,255,255,0.1);
        border-radius:50%;
        img{
          opacity: 0.5;
        }
      }
      .iconBox.active{
        background-color: rgba(255,255,255,0.3);
        img{
          opacity: 1;
        }
      }
    }
  }

  .themeBgImg{
    width:100%;
    height:100%;
    position: fixed;
    z-index:2;
    .overlays{
      width:100%;
      height:100%;
      position: absolute;
      left:0px;
      top:0px;
      background-color: rgba(0,0,0,0.32);
      z-index: 4;
    }
    img{
      object-fit: cover;
      width:100%;
      height:100vh;
      position: relative;
      z-index: 3;
    }
  }
}
