<div class="mainComponents">
  <div class="themeBgImg">
    <div class="overlays"></div>
    <img src="./assets/images/bg4.png" alt="Background Image" />
  </div>

  <div class="pageHeader">
    <h2 class="title">unify</h2>

    <div class="dropdown show">
      <a class="btn btn-secondary dropdown-toggle proImg" href="#" role="button" id="dropdownMenuLink"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="./assets/images/profile.png" alt="profile" />
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" routerLink="/auth/login">Logout</a>
      </div>
    </div>


    <!-- <div class="proImg">
      
     <img src="./assets/images/profile.png" alt="profile"/> 
    </div> -->
  </div>

  <div class="mainWrapper">
    <router-outlet></router-outlet>
  </div>

  <div class="pageFooter">
    <div class="tabBox">
      <a class="iconBox active" routerLink="/main/home" routerLinkActive="active">
        <img src="./assets/images/icons/home.png" alt="home" />
      </a>
    </div>
    <div class="tabBox">
      <a class="iconBox" routerLink="/main/mysessions" routerLinkActive="active">
        <img src="./assets/images/icons/headset.png" alt="Session" />
      </a>
    </div>
    <div class="tabBox">
      <a class="iconBox" routerLink="/main/explore" routerLinkActive="active">
        <img src="./assets/images/icons/search.png" alt="Explore" />
      </a>
    </div>
    <div class="tabBox">
      <a class="iconBox">
        <img src="./assets/images/icons/more.png" alt="More" />
      </a>
    </div>
  </div>
</div>
