/* You can add global styles to this file, and also import other style files */





.authCont{
  min-height: 100vh;
  background-size: 100%;
  background-position: bottom left;
  position:relative;
  max-width:100%;
  width:500px;
  margin:0px auto;
  .wrapper{
    width:100%;
    height:100%;
    position: absolute;
    left:0px;
    top:0px;
    background-color: rgba(0,0,0,0.4);
    .authFormCont{
      padding-top:60px;
      padding-left:30px;
      padding-right:30px;
      margin:0px auto;
      max-width:500px;
      .authHead{
        margin-bottom:25px;
      }
      h3{ color:#FFFFFF; text-align: center; font-size:26px; font-weight: 400;}
      p{ color:#FFFFFF; text-align: center; font-size:16px; width:200px; max-width:90%; margin:8px auto 0px; font-weight: 300;     line-height: 20px;}

      .formFields{
        margin-bottom:12px;
        position:relative;
        a.viewIco{
          cursor: pointer;
          position:absolute;
          right:10px;
          top:4px;
        }
        .rTxt{
          display: block;
          text-align: right;
          a{
            color:rgba(255,255,255,0.7);
            font-weight: 300;
            font-size:14px;
          }
        }
        input{
          width:100%;
          height:36px;
          border:none;
          border-radius:3px;
          padding:5px 15px;
          color:#FFFFFF;
          background-color: rgba(255,255,255,0.2) !important;
        }
        input::placeholder{
          font-size:16px;
          color:#FFFFFF;
          font-weight: 300;
        }
      }
      .btnWhite{
        width:100%;
        border:none;
        height:38px;
        border-radius:20px;
        background-color: rgba(255,255,255,0.85);
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
  .authFooterText{
    width:100%;
    position:absolute;
    bottom:40px;
    h2{color:#FFFFFF; text-align:center; font-size: 36px; margin-bottom:6px; font-weight: 200; text-align: center;}
    p{color:#FFFFFF; text-align:center; font-size: 18px; text-align: center; font-weight: 200; letter-spacing:1px;}
  }
}
