<div class="settingsMenu" *ngIf="viewmore">
  <ul>
    <li><a routerLink="/main/profile">Profile</a></li>
    <li><a routerLink="/main/pastmeditations">Post meditations</a></li>
    <li><a routerLink="/main/settings">Settings</a></li>

  </ul>
</div>
<div class="pageFooter">

  <div class="tabBox">
    <a class="iconBox active" routerLink="/main/home" routerLinkActive="active">
      <img src="./assets/images/icons/home.png" alt="home" />
    </a>
  </div>
  <div class="tabBox">
    <a class="iconBox" routerLink="/main/mysessions" routerLinkActive="active">
      <img src="./assets/images/icons/headset.png" alt="Session" />
    </a>
  </div>
  <div class="tabBox">
    <a class="iconBox" routerLink="/main/explore" routerLinkActive="active">
      <img src="./assets/images/icons/search.png" alt="Explore" />
    </a>
  </div>
  <div class="tabBox">
    <a class="iconBox" (click)="viewmore = !viewmore">
      <img src="./assets/images/icons/more.png" alt="More" />
    </a>
  </div>
</div>