<div class="authCont" style="background-image: url('./assets/images/bg1.png');">
  <div class="wrapper">
    <div class="authFormCont">
      <div class="authHead">
        <h3>Sign up</h3>
        <p>We just need a few details from you to get you started!</p>
      </div>
      
      <div class="formFields">
        <input type="text" placeholder="First name"/>
      </div>
      <div class="formFields">
        <input type="text" placeholder="Last name"/>
      </div>
      <div class="formFields">
        <input type="text" placeholder="Email"/>
      </div>
      <div class="formFields">
        <input type="password" placeholder="Password"/>
      </div>
      <div class="formFields">
        <input type="password" placeholder="Confirm Password"/>
      </div>
      <button class="btnWhite">Submit</button>
      <div class="formFields">
        <span class="rTxt"><a routerLink="/auth/login">Cancel</a></span>
      </div>
      

     
    </div>
    <div class="authFooterText">
      <h2>unify</h2>
      <p>Connect in the quantum</p>
    </div>
  </div>
</div>
