<div class="authCont">
  <div class="authBgImg"><img src="./assets/images/bg1.png" alt="Background" /></div>
  <div class="wrapper">
    <div class="authFormCont">
      <div class="authHead">
        <h3>Sign up</h3>
        <p>We just need a few details from you to get you started!</p>
      </div>

      <div class="formFields">
        <input type="text" placeholder="First name" [(ngModel)]="userModel.first_name" />
      </div>
      <div class="formFields">
        <input type="text" placeholder="Last name" [(ngModel)]="userModel.last_name" />
      </div>
      <div class="formFields">
        <input type="text" placeholder="User Name" [(ngModel)]="userModel.username" />
      </div>
      <div class="formFields">
        <input type="email" placeholder="Email" [(ngModel)]="userModel.email" />
      </div>
      <div class="formFields">
        <input type="password" placeholder="Password" [(ngModel)]="userModel.password" />
        <a class="viewIco"><img src="./assets/images/icons/view.png" height="14" alt="View" /></a>
      </div>
      <div class="formFields">
        <input type="password" placeholder="Confirm Password" [(ngModel)]="userModel.confirmPassword" />
        <a class="viewIco"><img src="./assets/images/icons/view.png" height="14" alt="View" /></a>
      </div>
      <p style="color: red;" *ngIf="errorMsg">A user with that username already exists.</p>
      <p style="color: red;"
        *ngIf="userModel.password!=userModel.confirmPassword&&(userModel.password&&userModel.confirmPassword)">Your
        password and confirmation password do not match.</p>
      <!-- [disabled]="userModel.username&&userModel.email&&userModel.password&&userModel.confirmPassword" -->
      <button class="btnWhite"
        [disabled]="(!userModel.username&&!userModel.email&&!userModel.password&&!userModel.confirmPassword&&!userModel.first_name&&!userModel.last_name) ||( userModel.password!=userModel.confirmPassword)"
        (click)="signIn(userModel)">Submit</button>
      <div class="formFields">
        <span class="rTxt"><a routerLink="/auth/login">Cancel</a></span>
      </div>



    </div>
    <div class="authFooterText">
      <h2>unify</h2>
      <p>Connect in the quantum</p>
    </div>
  </div>
</div>