<div class="authCont" style="background-image: url('./assets/images/bg1.png');">
  <div class="wrapper">
    <div class="authFormCont">
      <div class="authHead">
        <h3>Reset password</h3>
      </div>
      
      <div class="formFields">
        <input type="password" placeholder="Enter new password"/>
        <a class="viewIco"><img src="./assets/images/icons/view.png" height="14" alt="View" /></a>
      </div>
      <div class="formFields">
        <input type="password" placeholder="Enter confirm password"/>
        <a class="viewIco"><img src="./assets/images/icons/view.png" height="14" alt="View" /></a>
      </div>
      <button class="btnWhite">Submit</button>
      <div class="formFields">
      </div>
      

    </div>
    <div class="authFooterText">
      <h2>unify</h2>
      <p>Connect in the quantum</p>
    </div>
  </div>
</div>
