

@font-face {
  font-family: 'ThemeFont';
  font-style: normal;
  font-weight: 200;
  src: url('./assets/fonts/SourceSansPro-ExtraLight.ttf');
}
@font-face {
  font-family: 'ThemeFont';
  font-style: normal;
  font-weight: 300;
  src: url('./assets/fonts/SourceSansPro-Light.ttf');
}
@font-face {
  font-family: 'ThemeFont';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/SourceSansPro-Regular.ttf');
}
@font-face {
  font-family: 'ThemeFont';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/SourceSansPro-SemiBold.ttf');
}
@font-face {
  font-family: 'ThemeFont';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/SourceSansPro-Bold.ttf');
}
@font-face {
  font-family: 'ThemeFont';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/SourceSansPro-Black.ttf');
}







body{
	font-family: 'ThemeFont' !important;
  font-weight: 400;
}





*{box-sizing: border-box;}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  background-color: #010101;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
  text-decoration: none;
  cursor: pointer;
}




.noMargin{margin:0px;}
a{text-decoration: none !important;}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.partText{
  .mat-form-field{
    width:100%;
    .mat-form-field-infix{
      background-color: #eaeaea;
      height:42px;
      padding:10px 20px;
      border:none;
    }
  }
  
  .mat-form-field-appearance-legacy .mat-form-field-underline{
    display: none;
  }
  .mat-form-field-type-mat-select .mat-form-field-label{
        top: 25px;
    left: 15px;
  }
}


.repeats{
  label{
    border-radius:50%;
    background-color: #FFFFFF !important;
  }
  .checkmark{
    width: 26px !important;
    height: 26px !important;
    border-radius: 15px !important;
    background-color: transparent !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    border:none !important;
    position:relative !important;
  }
  .checkbox{
    padding:0px !important;
    width:26px;
    height:26px;
    .letter{
      position:absolute;
      z-index:4;
      left:7px;
      top:0px;
    }
  }
 
  .checkmark:after{
    width: 26px !important;
    height: 26px !important;
    border-radius: 15px !important;
     background-color: rgba(0,0,0,0.35) !important;
    // display: flex !important;
    // align-items: center !important;
    // justify-content: center !important;
    // border:none !important;
    left:0px !important;
    top:-3px !important;
    border:none !important;
    
  }

  
}



/* Common Styles */

.chooseDate{
  .mat-form-field-underline{
    display: none;
  }
  .mat-label{
    font-weight: 500;
    font-size:18px;
    color:#000000 !important;
  }
}

.ends {
  .mat-form-field-label-wrapper{
   
  }
  
  .mat-form-field-wrapper{
    padding-bottom:0px !important;
    top:-17px;
  }
  .mat-form-field-underline{
    display: none;
  }
}

.bottomBtn{
  position: fixed;
  bottom:0px;
  left:0px;
  width:100%;
  padding:0px 20px;
  background-color: rgba(0, 0, 0, 0.75);
  height:60px;
  padding-top:10px;
}

.pageHeader{
  width:100%;
  height:80px;
  padding:25px 15px 10px 20px;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  z-index:9;
  display: flex;
  top:0px;
  .title{
    color:#FFFFFF;
    flex:1 1;
    font-weight: 300;
    font-size:28px;
    margin-top:4px;
  }
  .proImg{
    width:46px;
    height:46px;
    border-radius:50%;
    overflow: hidden;
    padding:0px;
    img{
      object-fit: cover;
      width:46px;
      height:46px;
    }
  }
}


.mat-progress-spinner circle, .mat-spinner circle{
  stroke: #FFFFFF;
  stroke-width: 5px !important;
}


.sessFilters {
  .dropdown-toggle::after{
    display:none !important;
  }
  ul{
    padding:10px;
    li{
      margin:5px 0px;
      a{
        color:#000000;
      }
    }
  }
}
