

@font-face {
  font-family: 'CeraRoundPro';
  font-style: normal;
  font-weight: 200;
  src: url('./assets/fonts/CeraRoundPro-Thin.otf');
}
@font-face {
  font-family: 'CeraRoundPro';
  font-style: normal;
  font-weight: 300;
  src: url('./assets/fonts/CeraRoundPro-Light.otf');
}
@font-face {
  font-family: 'CeraRoundPro';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/CeraRoundPro-Regular.otf');
}
@font-face {
  font-family: 'CeraRoundPro';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/CeraRoundPro-Medium.otf');
}
@font-face {
  font-family: 'CeraRoundPro';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/CeraRoundPro-Bold.otf');
}
@font-face {
  font-family: 'CeraRoundPro';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/CeraRoundPro-Black.otf');
}
@font-face {
  font-family: 'Typographica';
  font-style: normal;
  src: url('./assets/fonts/Typographica.ttf');
}
