<app-header></app-header>

<div class="exploreCont">
  <div class="sessCont">
    <div class="sessHeader">
      <h3>Explore session</h3>
    </div>

    <div class="sessTitle">
      <input type="text" placeholder="Search by keyword" (input)="searchSession($event.target.value)" />
      <div class="sessFilters dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown"> Filter <img width="20" src="./assets/images/icons/filter.png" alt="filters" /></a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a >Filter 1</a></li>
          <li><a >Filter 2</a></li>
          <li><a >Filter 3</a></li>
        </ul>
      </div>
    </div>

    <div *ngFor="let session of sessionLists">
      <div class="sesBox" (click)="viewSessionDetails(session.session_id)">
        <div class="bannerImg">
          <img src="./assets/images/icons/image.svg" alt="img" />
        </div>
        <div class="sesInfo">
          <p>{{session.session_desc}}</p>
          <div class="proDet">
            <div class="userPro">
              <img src="./assets/images/avatar.jpg" alt="Profile" />
            </div>
            <p>Hosted by<br /><span>{{session.hosted_name}}</span></p>
          </div>
          <p class="noMargin">{{session.start_datetime | date: 'dd/MM/yyyy'}}</p>
          <span>(in {{session.days}} days),{{session.between_hours}} hrs</span>

          <div class="inviLink">
            <a>
              <img src="./assets/images/icons/heart.svg" width="14" alt="Invitation" />
              Accept Invitation
            </a>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

<app-footer></app-footer>
