
<app-header></app-header>
<div class="homeContainer">
  <h3>Welcome {{profileDetails?profileDetails.first_name:'NA'}}! Your next session...</h3>

  <div class="sesBox" (click)="viewSessionDetails(sessionModel.session_id)" *ngIf="sessionModel.session_id">
    <div class="bannerImg">
      <img src="./assets/images/icons/image.svg" alt="img" />
    </div>
    <div class="sesInfo">
      <p>{{sessionModel.session_desc}}</p>
      <div class="proDet">
        <div class="userPro">
          <img src="./assets/images/avatar.jpg" alt="Profile" />
        </div>
        <p>Hosted by<br /><span>{{sessionModel.hosted_name}}</span></p>
      </div>
      <p class="noMargin">{{sessionModel.start_datetime| date: 'dd/MM/yyyy'}}, {{sessionModel.between_hours}} hrs</p>
      <span>(in {{sessionModel.days}} days)</span>

      <div class="inviLink">
        <a>
          <img src="./assets/images/icons/heart.svg" width="14" alt="Invitation" />
          Accept Invitation
        </a>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
