<div class="homeContainer">
  <h3>Welcome  Pete! Your next session...</h3>

  <div class="sesBox">
    <div class="imgCont">
      <img src="./assets/images/session.png" alt="img"/>
    </div>
    <div class="sesInfo">
      <p>Space time meditation, one of the best out there!</p>
      <div class="proDet">  
        <div class="userPro">
          <img src="./assets/images/profile2.png" alt="Profile"/>
        </div>
        <p>Hosted by<br/><span>Mark</span></p>
      </div>
      <p class="noMargin">3 Feb 2020, 20:00 hrs</p>
      <span>(in 2 days)</span>

      <div class="inviLink">
        <a> 
          <img src="./assets/images/icons/heart.svg" width="14" alt="Invitation"/>
          Accept Invitation
        </a>
      </div>
    </div>
  </div>
</div>
