<app-header></app-header>

<div class="profileContainer">

  <form [formGroup]="uploadForm">
    <div class="proImg"><img src="./assets/images/avatar.jpg" width="120" alt="Profile" />
      <input type="file" name="profile" accept="image/*" (change)="uploadprofilePictue($event)" />
    </div>
  </form>

  <div class="perDetails">
    <div class="title">
      <p>Personal details</p>
      <a class="edit" routerLink="/main/editprofile">Edit</a>
    </div>
    <p>{{profileModel.first_name}}</p>
    <p>{{profileModel.last_name}}</p>
    <p>{{profileModel.email}}</p>
    <p>{{profileModel.phone_number}}</p>
    <p>{{profileModel.gender}}</p>
    <p>DOB: {{profileModel.dob | date: 'dd/MM/yyyy'}}</p>
  </div>

  <div class="perDetails">
    <div class="title">
      <p>Password</p>
      <a class="edit">Edit</a>
    </div>
    <p>********</p>

  </div>

  <!-- <div class="perDetails borderBottom">
    <div class="title">
      <p>Accounts</p>
      <a class="edit">Edit</a>
    </div>
    <p>Google</p>
    <p>Facebook</p>

  </div> -->

  <div class="perDetails">
    <p (click)="logout()"><a><img src="./assets/images/icons/logout.svg" width="20" alt="logout" /> Logout</a></p>
  </div>

</div>



<app-footer></app-footer>
