<div class="pageHeader">
  <h2 class="title">unify</h2>

  <div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle proImg" href="#" role="button" id="dropdownMenuLink"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <img src="./assets/images/profile.png" alt="profile" />
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" (click)="logout()">Logout</a>
    </div>
  </div>


</div>

<div class="profileContainer">
  <div class="proImg"><img src="./assets/images/profilelarge.png" width="120" alt="Profile"/></div>
  <div class="perDetails">
    <div class="title">
      <p>Personal details</p>
      <a class="edit" routerLink="/main/editprofile">Edit</a>
    </div>
    <p>Peter</p>
    <p>Watson</p>
    <p>email@email.com</p>
    <p>+44 1234567890</p>
    <p>Male</p>
    <p>DOB: 01 Jan 1990</p>
  </div>

  <div class="perDetails">
    <div class="title">
      <p>Password</p>
      <a class="edit" routerLink="/main/editprofile">Edit</a>
    </div>
    <p>********</p>
    
  </div>

  <div class="perDetails borderBottom">
    <div class="title">
      <p>Accounts</p>
      <a class="edit" routerLink="/main/editprofile">Edit</a>
    </div>
    <p>Google</p>
    <p>Facebook</p>
    
  </div>

  <div class="perDetails">
    <p><a><img src="./assets/images/icons/logout.svg" width="20" alt="logout"/> Logout</a></p>
  </div>

</div>



<div class="pageFooter">
  <div class="tabBox">
    <a class="iconBox active" routerLink="/main/home" routerLinkActive="active">
      <img src="./assets/images/icons/home.png" alt="home" />
    </a>
  </div>
  <div class="tabBox">
    <a class="iconBox" routerLink="/main/mysessions" routerLinkActive="active">
      <img src="./assets/images/icons/headset.png" alt="Session" />
    </a>
  </div>
  <div class="tabBox">
    <a class="iconBox" routerLink="/main/explore" routerLinkActive="active">
      <img src="./assets/images/icons/search.png" alt="Explore" />
    </a>
  </div>
  <div class="tabBox">
    <a class="iconBox">
      <img src="./assets/images/icons/more.png" alt="More" />
    </a>
  </div>
</div>
