<div class="profileContainer">
  <div class="proImg"><img src="./assets/images/profilelarge.png" width="120" alt="Profile"/></div>
  <div class="perDetails">
    <div class="title">
      <p>Personal details</p>
      <a class="edit" routerLink="/main/editprofile">Edit</a>
    </div>
    <p>Peter</p>
    <p>Watson</p>
    <p>email@email.com</p>
    <p>+44 1234567890</p>
    <p>Male</p>
    <p>DOB: 01 Jan 1990</p>
  </div>

  <div class="perDetails">
    <div class="title">
      <p>Password</p>
      <a class="edit" routerLink="/main/editprofile">Edit</a>
    </div>
    <p>********</p>
    
  </div>

  <div class="perDetails borderBottom">
    <div class="title">
      <p>Accounts</p>
      <a class="edit" routerLink="/main/editprofile">Edit</a>
    </div>
    <p>Google</p>
    <p>Facebook</p>
    
  </div>

  <div class="perDetails">
    <p><a><img src="./assets/images/icons/logout.svg" width="20" alt="logout"/> Logout</a></p>
  </div>

</div>
